@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background:url(/static/photos/login.jpg);
    background-size:cover;
    padding-bottom:350px;
}

.f1{
    position:absolute;
    left:38%;
    width:28%;
    height:240px;
    top:26%;
    background-color:rgba(255,255,255,0.7);
    padding-top:2%;
    padding-bottom:2%;
    padding-left:2%;
    padding-right:2%;
}

input{
    position:relative;
    width:93%;

}

.f1 h3{
    text-align:center;
}

#b1{
    width:100%;
    color:white;
    background-color:black;
    border:black solid 1px;
}




.footer{
    position:fixed;
    width:100%;
    height:50px;
    border:1px solid#f8f9fa;
    padding-top:1%;
    bottom:0%;
    text-align:center;
    background-color: #eff2f7;
}


#main{
    position:absolute;
    top:10%;
    width:100%;
    height:100%;
    border: 1px solid black;
}

